<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../assets/css/HOME.css" />
    <script src="../assets/js/home.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div id="bg" class="container-fluid">
      <div id="nav" class="row fixed-top">
        <nav
          id="navigationbar"
          class="navbar ps-4 navbar-expand-lg navbar-collapse-sm navbar-dark bg-transparent"
        >
          <a class="navbar-brand" href="">
            <img src="../assets/images/cocoacake.png" alt="" width="70px"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="HOME.ejs">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.ejs">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="menu.ejs">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login.ejs">Registration/Sign up</a>
              </li>

              <!-- <li class="nav-item">
              <a class="nav-link" href="orders.html">Orders</a>
            </li> -->
              <li class="nav-item">
                <a class="nav-link" href="contact.ejs">Contact us</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="card bg-dark text-white">
        <img
          class="card-img"
          src="../assets/images/wweddcake.jpg"
          alt="Card image"
        />
        <div class="card-img-overlay">
          <!-- <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card Lorem ipsum dolor sit amet consectetur,
           adipisicing elit. Asperiores explicabo non eum sapiente fuga placeat iste ex?
            Cumque beatae cupiditate maxime iste placeat animi. Recusandae voluptatum velit
             veritatis unde perferendis. with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.</p> -->
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <h1 id="we" class="card-title ps-4 text-warning">
            We make indulgent <br />
            cakes and sweet treats.
          </h1>

          <br />
          <h4 id="we" class="card-title ps-4 text-warning">
            For retail, food service, wholesale and out of home sectors.
          </h4>
        </div>
      </div>

      <div>
        <br />
        <br />

        <h1 class="text-center text-warning">Have our cakes and eat them</h1>
        <br />

        <h3 class="text-center text-warning">
          Welcome to Cocoa Bakery,
          <br />
          A family bakery manufacturing indulgent sweet bakery treats
          <br />
          SINCE 1890
        </h3>
      </div>

      <div class="container my-5">
        <!-- Jumbotron -->
        <!-- <div class="card red py-2" id="intro">  -->

        <!-- Content -->
        <!-- <div class="card-body text-white">

      <h5 class="mb-4 font-weight-bold">
          This example is for an older version of Bootstrap (v.4). A newer version is available for Bootstrap 5.
        </h5> -->
        <!-- <p class="mb-n2">
          Find detailed documentation and more examples here:
          <a target="_blank" href="https://mdbootstrap.com/docs/standard/components/carousel/" class="mb-3 mx-2 btn btn-sm btn-outline-white">Go to Docs v5
        </a>
        </p>  -->

        <!-- </div>  -->
        <!-- Content  -->

        <!-- </div> -->
        <!-- Jumbotron -->

        <hr class="my-5" />

        <!--Carousel Wrapper-->
        <div
          id="multi-item-example"
          class="carousel slide carousel-multi-item"
          data-ride="carousel"
        >
          <!--Controls-->
          <div class="controls-top">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"
              ><i class="fas fa-chevron-left"></i
            ></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next"
              ><i class="fas fa-chevron-right"></i
            ></a>
          </div>
          <!--/.Controls-->

          <!--Indicators-->
          <ol class="carousel-indicators">
            <li
              data-target="#multi-item-example"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>
          </ol>
          <!--/.Indicators-->

          <!--Slides-->
          <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
              <div class="col-md-3" style="float: left" id="cards">
                <div class="card mb-2">
                  <img
                    class="card-img-top"
                    src="../assets/images/weddcake.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h4 class="card-title">Wedding Cakes</h4>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <button class="btn btn-warning" id="homebtn">Button</button>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float: left">
                <div class="card mb-2">
                  <img
                    class="card-img-top"
                    src="../assets/images/caked.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h4 class="card-title">Birthday Cakes</h4>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <button class="btn btn-warning" id="homebtn">Button</button>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float: left">
                <div class="card mb-2">
                  <img
                    class="card-img-top"
                    src="../assets/images/browny.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <button class="btn btn-warning" id="homebtn">Button</button>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float: left">
                <div class="card mb-2">
                  <img
                    class="card-img-top"
                    src="../assets/images/cake4.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <button class="btn btn-warning" id="homebtn">Button</button>
                  </div>
                </div>
              </div>
            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">
              <div class="col-md-3" style="float: left">
                <div class="card mb-2">
                  <img
                    class="card-img-top"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float: left">
                <div class="card mb-2">
                  <img
                    class="card-img-top"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float: left">
                <div class="card mb-2">
                  <img
                    class="card-img-top"
                    src="../assets/images/cakenew.jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                      helouick example text to build on the card title and make
                      up the bulk of the card's content.
                    </p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float: left">
                <div class="card mb-2">
                  <img
                    class="card-img-top"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.Second slide-->
          </div>
          <!--/.Slides-->
        </div>
        <!--/.Carousel Wrapper-->
      </div>

      <div class="warning pb-4 text-center">
        <a
          href="#"
          class="btn btn-warning btn-lg active"
          role="button"
          aria-pressed="true"
          >Explore our range</a
        >
      </div>

      <!-- for muffins etc -->

      <!-- <div class="elementor-carousel-image-overlay e-overlay-animation-fade">
<img src="http://www.queenslandbakery.com/wp-content/uploads/2021/10/Icons-Muffins.png">	
</div> -->

      <div class="card bg-dark text-white">
        <img
          class="card-img"
          src="../assets/images/pastry.jpg"
          alt="Card image"
        />
        <div class="card-img-overlay">
          <br />
          <br />
          <h1 id="idpara" class="card-title text-center text-light">
            Innovating every bake
          </h1>
          <h5 id="para" class="card-text text-center text-light">
            We manufacture and supply delicious ambient, thaw to serve and bake
            off sweet baked treats for Retail, Out of Home consumption, Food
            Service and Wholesale. With over 100 years of baking experience, our
            delicious ranges of white l abel and branded baked treats have
            satisfied generations of hungry customers who find nourishment and
            comfort in our slices of indulgent home-baked favourites.
          </h5>
          <br />
          <br />
          <div class="warning pb-4 text-center">
            <a
              href="#"
              class="btn btn-warning btn-lg active"
              role="button"
              aria-pressed="true"
              >Explore our range</a
            >
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <h2 class="css text-center text-warning pt-4">
            Creating customer favourites <br />
          </h2>
        </div>
        <div></div>
        <h6 class="cs text-center text-warning pb-4">
          <br />
          We've been a family of bakers since 1890, using great-quality
          ingredients to create recipes with that home-baked specialness.
          <br />
          <br />
          <br />
          With innovation at our core, we create a wide range of sweet treats to
          meet the ever-changing demands of consumers.
          <br />
          <br /><br />
          Whether you need products that are frozen thaw and serve, baked off on
          site, ambient long life or flow-wrapped – we’ve got you covered!
        </h6>
        <br />
        <br />
        <br />
      </div>

      <div class="row">
        <div class="col">
          <div class="containers">
            <img
              id="images"
              src="../assets/images/end1.jpg"
              alt="Nature"
              style="width: 100%"
            />
            <div class="text-block">
              <h4>Banana Loaf Cake</h4>
              <p>
                Delicious moist and flavoursome sponge, filled with ripened
                bananas for a tempting treat at any time.
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="col">
            <div class="containers">
              <img
                id="images"
                src="../assets/images/end2.jpg"
                alt="Nature"
                style="width: 100%"
              />
              <div class="text-block">
                <h4>Rocky Road</h4>
                <p>
                  Fluffy marshmallows and chunks of crunchy biscuit coated in
                  chocolate make this a firm favourite treat.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="col">
            <div class="containers">
              <img
                id="images"
                src="../assets/images/end3.jpg"
                alt="Nature"
                style="width: 100%"
              />
              <div class="text-block">
                <h4>Smartie Cookie</h4>
                <p>
                  Deliciously soft and chewy cookies topped with colourful
                  smarties to create the perfect treat.e
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="col">
            <div class="containers">
              <img
                id="images"
                src="../assets/images/end4.jpg"
                alt="Nature"
                style="width: 100%"
              />
              <div class="text-block">
                <h4>Caramel Flapjack</h4>
                <p>
                  Deliciously gooey caramel on a bed of crumbly flapjack, topped
                  with juicy fruit and crunchy seeds.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <!-- <img src="supply.png" alt="deleiverd " width="100%" > -->

        <img src="../assets/images/ss.png" alt="deleiverd " width="100%" />
      </div>

      <br />
      <br />
      <br />
      <div class="row">
        <div class="col text-warning">
          <h3 class="text-center">About</h3>
          <p class="text-center">
            Cocoa Bakery Co. <br />
            Maple House,<br />
            Mayflower Close,<br />
            Chandlers Ford Industrial Estate,<br />
            Eastleigh,<br />
            SO53 4ARfa-border hello@Cocoabakery.com <br />
            Tel: +44 (0)23 8026 9926
          </p>
        </div>

        <div class="col">
          <img
            class="rounded mx-auto d-block"
            src="../assets/images/cocoacake.png"
            alt=""
            width="200"
          />

          <p class="text-center text-warning">© Cocoa Bakery 2022</p>
        </div>
        <div class="col">
          <h4 class="text-warning">
            We make indulgent cakes and sweet treats Family bakers since 1890
          </h4>
          <br />

          <p class="text-center text-warning">
            About Us <br />
            <br />
            Contact Us <br />
            <br />
            Privacy Policy
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
